

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif;

}
html,body
{
  height: 100%;
  margin: 0;
  padding: 0;
}
:root
{
  --herotext:red;
  --herobackground:blue;
}

.hero-con
{
  height: 100vh;
  width: 100%;
  /* background-color: #efe3a0; */
  background: linear-gradient(180deg, rgb(45 45 45) 0%, rgb(191 184 150) 100%);
}
.hero
{
  height: 100%;
  width: 100%;
  position: relative;
  /* border:2px solid red; */

}
.wrapper
{
  width :100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  display: inline-block;
  left: 50%;
  top:38%;
  transform: translate(-50%,-50%);
}
.hero-pic
{
   width :100%;
   height: 100%;
   overflow: hidden;
   position: absolute;
   display: inline-block;


   left: 50%;
   top:50%;

   background-image: url('https://i.ibb.co/Bw5zgzp/tsuri.png');
   transform: translate(-50%,-50%);
   background-size: contain;
 	background-repeat: no-repeat;
   object-fit:cover;
   background-position: center;
   background-size: 60%;
  padding: 20px;
  opacity: 0;
    /* -webkit-animation: slide-in-blurred-top 3.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) ; */
          animation: slide-in-blurred-top 3.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 3s ;
          animation-fill-mode: forwards;

          /* -webkit-box-shadow: inset 0px 0px 32px 10px black;
      box-shadow: inset -1px -1px 32px 110px black; */
      z-index: 2;

}

.hero-pic img
{
  display: block;
  object-fit:cover;
  height: 100%;
  width:100%;

}

.firstname
{
  position: absolute;
display: inline-block;
/* background: linear-gradient(180deg, rgba(224,186,0,1) 0%, rgba(255,245,198,1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
color:rgba(224,186,0,1);
top: 510px;
left: 121px;
font-size: 193px;
font-weight: lighter;
-webkit-animation: slide-in-right 3s cubic-bezier(0.88, 0.88, 1, 1.02);
animation: slide-in-right 3s cubic-bezier(0.32, 0.55, 0.38, 0.78);
  animation-fill-mode: forwards;
z-index: 1;
display:block;
transform: translate3d(0, 30px, 0);
}
.lastname
{
  position: absolute;
display: inline-block;
/* background: linear-gradient(1deg, rgba(224,186,0,1) 0%, rgba(255,245,198,1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
color:rgba(224,186,0,1);
top: 1374px;
left: 162px;
font-size: 210px;
font-weight: lighter;
-webkit-animation: slide-in-left 3s cubic-bezier(0.32, 0.55, 0.38, 0.78);
animation: slide-in-left 3s cubic-bezier(0.32, 0.55, 0.38, 0.78);
  animation-fill-mode: forwards;
z-index: 3;
display:block;
transform: translate3d(0, 30px, 0);
}

.readmore
{
  position: absolute;
display: inline-block;
color:#e6c057d1;
top: 1769px;
left: 249px;
font-size: 86px;
font-weight: 100;
opacity: 0;
-webkit-animation: slide-in-down 3s cubic-bezier(0.32, 0.55, 0.38, 0.78) 1s;
animation: slide-in-down 3s cubic-bezier(0.32, 0.55, 0.38, 0.78) 1s;
  animation-fill-mode: forwards;
z-index: 3;
}

/* --------animation----- */
/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */

/* ----------------------------------- */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-down {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/* ------------------------------- */
/* ----------------------------------------------
 * Generated by Animista on 2021-5-25 18:33:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-top {
  0% {

    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
            filter: grayscale(0%) blur(40px);
            -webkit-filter: grayscale(0%) blur(40px);
            -moz-filter: grayscale(0%) blur(40px);

    opacity: 0;
  }

  100% {

    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;

    -webkit-filter: blur(0) grayscale(86%);
            filter: blur(0) grayscale(86%);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {


    -webkit-filter: grayscale(0%) blur(40px);
            filter:grayscale(0%) blur(40px);
    opacity: 0;
  }

  100% {

    -webkit-filter:  grayscale(86%) blur(0) ;
            filter:  grayscale(86%) blur(0);
    opacity: 1;
  }
}
